@model ClinicForAnimal1._2.Models.Services.VeterinarianService
<div class="item">
    <h3>@Model.NameOfVeterinaryServices</h3>
    @Model.UnitOfMeasurement
    <h4>@Model.Cost.ToString("c")</h4>
</div>

