@model List<ClinicForAnimal1._2.Models.Users.AspNetUser>


<div id="searchresults">
    @if (Model != null)
    {
        @*<h3>Вся информация о пациенте : @Model.FirstOrDefault().UserName</h3>*@
        <ul>
            @foreach (var item in Model)
            {
                <li>@item.Age</li>
                @*<li>@item.UserName</li>*@
            }
        </ul>
    }
</div>
